# Cache, temp and personal files

/.htaccess
*.log
npm-debug.log.*
.sass-cache/

# Cache
/cache/cachefs/*
!/cache/cachefs/index.php
/cache/purifier/*
!/cache/purifier/index.php
/cache/push/*
!/cache/push/activity
!/cache/push/index.php
!/cache/push/trends
/cache/sandbox/*
!/cache/sandbox/index.php
/cache/smarty/*
!/cache/smarty/cache/
!/cache/smarty/cache/index.php
!/cache/smarty/compile/
!/cache/smarty/compile/index.php
!/cache/smarty/index.php
/cache/tcpdf/*
!/cache/tcpdf/index.php

# Upload
/upload/*
!/upload/index.php
!/upload/.htaccess

# Themes cache
themes/*/cache/*

# Symfony
/var/cache/*
/var/logs/*
/var/sessions/*